<!-----------------------------------------------------产品菜单开始----------------------------------------->
  <div id="menu">
  <div style=" width:196px; height:99px;border:1px solid #6bb22e; border-bottom:none;">
    <%= image_tag asset_path("BBDGY.png") , :size => "196x99"%>
  </div>
  <div id="sidebar">
    <%
      categories_by_age = []
      ["0-3", "4-6", "7-9", "10-14"].each do |age_scope|
        categories_by_age << Category.new(:name => age_scope, :principle => Category::PRINCIPLE_BY_AGE)
      end
    %>
    <%= render :partial => 'categories_principle_group_on_left_side', :locals => {
      :level_1_category => categories_by_age, :level_2_category => Category.by_usage,
      :level_1_title => t('title.category_by_age'),
      :scope_parameter => :category_id_by_usage
    }%>

    <%= render :partial => 'categories_principle_group_on_left_side_without_level2_menu', :locals => {
      :level_1_title => t('title.category_by_vendor'),
      :entities => Vendor.first(10),
      :search_params => :vendor_id}
    %>
    <%= render :partial => 'categories_principle_group_on_left_side_without_level2_menu', :locals => {
      :level_1_title => t('title.category_by_shape'),
      :entities => Category.by_shape,
      :search_params => :category_id_by_shape}
    %>
  </div>
</div>

<!-----------------------------------------------------产品菜单结束----------------------------------------->
