<% level_1_title # xxoo分类 %>
<% entities # Vendor.first(15),   %>
<% name_method ||= :name   %>
<% id_method ||=  :id %>
<% search_params # vendor_id, category_id_by_shape%>
<% search_path ||= "search_generic_items_path" %>
<div class="title_name"><%= link_to_function level_1_title, "#" %></div>
<div id="p_list">
  <ul>
    <% entities.each do |entity| %>
    <li>
      <%= link_to image_tag(asset_path("icon/icon_03.png"), :size => "14x14") +
        entity.send(name_method),
        send(search_path, search_params.to_sym => entity.send(id_method)),
        :target => "_blank" %>
    </li>
    <% end %>
  </ul>
</div>
<div style="height:20px;">&nbsp;</div>
