<!-----------------------------------------------------产品菜单开始----------------------------------------->
  <div id="menu">
  <div style=" width:196px; height:99px;border:1px solid #6bb22e; border-bottom:none;">
    <img src="/assets/BBDGY.png" width="196" height="99" />
  </div>
  <div id="sidebar">
    <%= render :partial => 'categories_principle_group_on_left_side', :locals => {
      :level_1_category => Category.by_age, :level_2_category => Category.by_usage,
      :level_1_title => "宝宝年龄分类"
    }%>
    <%= render :partial => 'categories_principle_group_on_left_side', :locals => {
      :level_1_category => Category.by_usage, :level_2_category => Category.by_age,
      :level_1_title => "玩具主题分类"
    }%>
    <%= render :partial => 'categories_principle_group_on_left_side', :locals => {
      :level_1_category => Category.by_shape, :level_2_category => Category.by_age,
      :level_1_title => "玩具模型分类"
    }%>
  </div>
</div>

<!-----------------------------------------------------产品菜单结束----------------------------------------->
