<div id="fun_box">

<div id="tabs1">
  <div class="menu1box">
<ul id="menu1">
  <li class="hover" onmouseover="setTabfun(1,0)"><a href="#">成长话题</a></li>
  <li onmouseover="setTabfun(1,1)"><a href="#">团购活动</a></li>
</ul>
  </div>
  <div class="main1box">
<div class="main" id="main1">
  <ul class="block">
    <li>成长日记</li>
    <li>成长日记</li>
    <li>成长日记</li>
    <li>成长日记</li>
  </ul>
  <ul>
    <li>团购信息</li>
    <li>团购信息</li>
    <li>团购信息</li>
    <li>团购信息</li>
  </ul>

</div>
  </div>
</div>



</div>
