// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.
//
//= require jquery
//= require jquery_ujs
//= require jquery-ui-1.8.18.custom.min.js
//= require new
//= require photoshow
//= require tab_mod
//= require my_utilities


/**
  usage:
  1. generic and simple:
   close_dialog()
  2. more specific :
   close_dialog("jquery_dialog")
*/
function close_dialog( div_id ){
  div_id = set_default_value(div_id, DIALOG_DIV_ID)
  target = $("#"+ div_id)
  target.dialog("close")
  // restore the rsvError div to parent page.
  if($("#body .content #rsvErrors").size()==0){
    $('#body .content').append('<div id=\"rsvErrors\"></div>')
  }
  target.html('')
}

// private method
function set_default_value(var_name, default_value){
  result = typeof(var_name)=="undefined" ? default_value : var_name
  return result
}

