/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui-1.8.18.custom.css
 *= require main
 *= require zoom
 *= require dialog_style
 *= require_self
*/


/*  this is my customized css */
#pk_info { height: auto }
#dis_box { height: auto }
.pn_box { width: 660px }
.pn_box span.first, .pn_box span.prev, .pn_box span.next, .pn_box span.last { float: left; margin-top: 10px; margin-left: 10px; padding: 0 6px;}
.pn_down .current {background:#060; color:#FFF; padding:3px 6px;}

.xihuan_contentbox .pn_box ul { height: auto}
