<h1>分类管理</h1>

<h2> 按用途分类 </h2>
<%= render :partial => 'list', :locals => {:categories => @categories_by_usage } %>
<h2> 按形状分类 </h2>
<%= render :partial => 'list', :locals => {:categories => @categories_by_shape } %>
<h2> 按年龄分类</h2>
<%= render :partial => 'list', :locals => {:categories => @categories_by_age} %>
<br />

<%= link_to_function '增加新分类', "open_dialog('#{new_category_path}')" %>
