/ Footer 开始
#footer
  %ul
    %li= link_to t('about_us'), ""
    %li= link_to t('agreements'), ""
    %li= link_to t('cooperation'), ""
    %li= link_to t('copyright'), ""
  %ul
    %li{ :style=> "font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; line-height:12px; margin-top:10px;"}
      =link_to "Copyright © 2012 bubu521.com", ""
      =link_to "备案号: 沪ICP备 12010160", ""
/ Footer 结束
