  <!-- Footer 开始 -->
  <div id="footer">
  <ul>
    <li><a href="#">关于布布</a></li>
    <li><a href="#">联系我们</a></li>
    <li><a href="#">服务条款</a></li>
    <li><a href="#">商物合作</a></li>
    <li><a href="#">版权信息</a></li>
  </ul>
   <ul>
    <li style="font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; line-height:12px; margin-top:10px;"><a href="#">Copyright © 2012 bubu521.com</a><a href="#">备案号：123456</a></li>
  </ul>
  </div>
  <!-- Footer 结束 -->
