<!-- Footer 开始 -->
<div id="footer">
  <ul>
    <li>
      <%= link_to t('about_us'), "" %>
    </li>
    <li>
      <%= link_to t('agreements'), "" %>
    </li>
    <li>
      <%= link_to t('cooperation'), "" %>
    </li>
    <li>
      <%= link_to t('copyright'), "" %>
    </li>
  </ul>
  <ul>
    <li style="font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; line-height:12px; margin-top:10px;">
      <a href="#">Copyright © 2012 bubu521.com</a>
      <a href="#">备案号：123456</a>
    </li>
  </ul>
</div>
<!-- Footer 结束 -->
