  <!--//////////////////////////////顶部LOGO部分开始//////////////////////////////-->
  <div id="logo_box">
  	<div class="logo_welcom"><img src="images/logo.png" width="160" height="68" alt="布布德智用品导购信息网" /></div>
  	<div id="login_info">
    	<ul>
        	<li class="welcom_login"><a href="#"><img src="images/login.png" width="80" height="22" alt="登陆" /></a><a href="#"><img src="images/reg.png" width="80" height="22" alt="登陆" /></a> </li>
            <li style=" margin-top:3px; background:url(images/icon/icon_qq_qq.png) no-repeat;"><a href="#"> QQ登陆 </a></li>
            <li style="margin-top:3px; background:url(images/icon/icon_sina.png) no-repeat;"><a href="#">微博登陆</a></li>
            <li style=" margin-top:3px;background:url(images/icon/tao.png) no-repeat;"><a href="#">淘宝登陆</a> | <a href="#">更多>> </a></li>
        </ul>
    </div>
  </div>
  <!--//////////////////////////////顶部LOGO部分结束//////////////////////////////-->
