<% cancle_function ||= "close_dialog()" %>
<div style="width:290px;" class="center">
  <%= submit_tag "提交", :class=>"btn dialog_button" %>
  <%= link_to_function "取消", cancle_function, :class=>"dialog_button" %>
</div>
